body {
    margin: 0;
    
}

.gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1:first-child {
    text-align: center;
    margin-bottom: 60px;
}

.input-container {
    position: absolute;
    left: 44%;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    position: absolute;
    top: 80px;
    left: 46%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display-winner {
    text-align: center;
    margin-top: 60px;
}

.display-turn {
    text-align: center;
    margin-bottom: 100px;
}

.gameboard {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template: 200px 200px 200px / 200px 200px 200px;
    grid-template-areas:
        "cell-1 cell-2 cell-3"
        "cell-4 cell-5 cell-6"
        "cell-7 cell-8 cell-9"
    ;
}

input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard div {
    border: 1px solid blue;
    text-align: center;
    line-height: 200px;
}

.gameboard div:nth-child(-n + 3) {
    border-top: 0;
}

.gameboard div:nth-child(n + 7) {
    border-bottom: 0;
}

.gameboard div:nth-child(3n + 3) {
    border-right: 0;
}

.gameboard div:nth-child(3n + 1) {
    border-left: 0;
}

#cell-1 {
    grid-area: cell-1;
}

#cell-2 {
    grid-area: cell-2;
}

#cell-3 {
    grid-area: cell-3;
}

#cell-4 {
    grid-area: cell-4;
}

#cell-5 {
    grid-area: cell-5;
}

#cell-6 {
    grid-area: cell-6;
}

#cell-7 {
    grid-area: cell-7;
}

#cell-8 {
    grid-area: cell-8;
}

#cell-9 {
    grid-area: cell-9;
}