* {
    font-family: 'Lobster', cursive;
}

body {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #fee2e2;
}

button:hover,
form button:hover {
    border: 1px solid rgba(77, 77, 77, 0.349);
    color: white;
    background-color: rgba(184, 180, 180, 0.322);
}

.gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    font-weight: bold;
    background-color: #ef4444;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 0;
    padding: 20px;
    padding-bottom: 65px;
}

.input-container {
    position: absolute;
    left: 42.3%;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    font-size: 1.2rem;
    color:  #ef4444;
    background: transparent;
    background-color: aliceblue;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 12px 15px;
    position: absolute;
    top: 68px;
    left: 900px;
}

.input-container button {
    font-size: 1.5rem;
    color:  #ef4444;
    background: transparent;
    background-color: aliceblue;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 12px 15px;
    margin-bottom: 25px;
}

#aiBtn {
    position: absolute;
    left: 880px;    
    font-size: 1.5rem;
    color:  #ef4444;
    background: transparent;
    background-color: aliceblue;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 12px 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
input:focus {
    background-color: #fee2e2;
    outline: none;
    border: 5px solid white;
    border-radius: 20px;
    color: #7f1d1d;
    font-size: 2rem;
    height: 40px;
    width: 300px;
    margin-bottom: 40px;
    padding-left: 15px;
}

label {
    font-size: 2rem;
    color: #dc2626;
    text-align: center;
}



.display-winner {    
    font-size: 3rem;
    color: #ecea4a;
    -webkit-text-stroke: 1px rgb(85, 65, 65);
    text-align: center;
    text-align: center;
    margin-top: 60px;
    bottom: 40px;
    left: 43%;
}

.display-turn {
    font-size: 2.5rem;
    color: #ef4444;
    -webkit-text-stroke: 1px rgb(85, 65, 65);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}

.gameboard {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template: 200px 200px 200px / 200px 200px 200px;
    grid-template-areas:
        "cell-1 cell-2 cell-3"
        "cell-4 cell-5 cell-6"
        "cell-7 cell-8 cell-9"
    ;
}

input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard div {
    color:#ef4444;
    font-weight: bolder;
    font-size: 4rem;
    border: 3px solid #fca5a5;
    border-radius: ;
    text-align: center;
    line-height: 200px;
}

.gameboard div:nth-child(-n + 3) {
    border-top: 0;
}

.gameboard div:nth-child(n + 7) {
    border-bottom: 0;
}

.gameboard div:nth-child(3n + 3) {
    border-right: 0;
}

.gameboard div:nth-child(3n + 1) {
    border-left: 0;
}

#cell-1 {
    grid-area: cell-1;
}

#cell-2 {
    grid-area: cell-2;
}

#cell-3 {
    grid-area: cell-3;
}

#cell-4 {
    grid-area: cell-4;
}

#cell-5 {
    grid-area: cell-5;
}

#cell-6 {
    grid-area: cell-6;
}

#cell-7 {
    grid-area: cell-7;
}

#cell-8 {
    grid-area: cell-8;
}

#cell-9 {
    grid-area: cell-9;
}